<h1>Convert <%= @from_currency %></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @currencies.each do |currency| %>
    <li>
      <a href="/<%= @from_currency %>/<%= currency %>">Convert 1 <%= @from_currency %> to <%= currency %>...</a>
    </li>
  <% end %>
</ul>
